{% extends 'core/base.html' %}
{% load static %}
{% block title %} {{ title }} {% endblock %}
{% block content %}
    <br>
    <br>
    <a class="btn btn-secondary" onclick="history.back()" role="button">Назад</a>
    <h1>Информация об исторической
        личности: {{ person.name.title }} {{ person.surname.title }} {{ person.patronymic.title }}</h1>
    {% if person.photo.url != Null %}
        <img src="{{ person.photo.url }}" width="400" height="400">
    {% else %}
        <img src="{% static 'core/images/findphoto.png' %}" width="400" height="400">
    {% endif %}
    {% if request.user.is_superuser %}
        <h3>ID: {{ person.pk }}</h3>
    {% endif %}
    <h3>Годы жизни: {{ person.birthday }} - {{ person.deathday }}</h3>
    <h3>Связанные статьи:</h3>
    {% for publication in person.persons.all %}
        <ul>
            <li><a href="{% url 'core:publication_detail' publication.pk %}"
                   role="button"> {{ publication }}</a></li>
        </ul>
    {% empty %}
        <h2>Связанных статей нет</h2>
    {% endfor %}
    <h3>Биография:</h3>
    {{ person.bio|linebreaks }}
{% endblock %}

