{% extends 'core/base.html' %}
{% if request.user.is_superuser %}
    {% block title %} {{ title }} {% endblock %}<
    {% block content %}
        <h1>Удалить публикацию "{{ publication.title }}"?</h1>
        <form action="{% url 'core:person_delete' pk=publication.pk %}" method="POST">
            {% csrf_token %}
            {{ form.as_p }}
            <button class="btn btn-danger" type="submit">Удалить публикацию</button>
            <a class="btn btn-secondary" href="{% url 'core:publications' %}" role="button">Вернуться к публикациям</a>
        </form>
    {% endblock %}
{% endif %}