{% extends 'core/base.html' %}
{% load static %}
{% block title %} {{ title }} {% endblock %}
{% block content %}
    <h1>Пользователь"{{ profile.nickname }}"</h1>

    {% if profile.profile_photo.url != Null %}
        <img src="{{ profile.profile_photo.url }} " class="img-thumbnail" style="width:15%">
    {% else %}
        <img src="{% static 'core/images/emptyAvatar.large.jpg' %}">
    {% endif %}




    <h3>ID: {{ profile.pk }}</h3>
    {% if user.is_superuser %}
        <h3>Права: Админ</h3>
    {% else %}
        <h3>Права: ReadOnly</h3>
    {% endif %}

    <h3>Статус: {{ profile.status|linebreaks }}</h3>
    <h3>Почта: {{ profile.user.email }}</h3>
    <h3>Дата регистрации : {{ profile.user.date_joined }}</h3>
{% endblock %}
